html {
	margin-top: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
.page-title span,
.pingback a.url,
#site-title,
.entry-title,
p {
	font-family: "Microsoft YaHei", "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}


/*start*/

.wrap.gravatar-cache {
	max-width: 900px;
}

.wrap.gravatar-cache .gravatar-cache-form {
	float: left;
	margin-right: 20px;
}

.wrap.gravatar-cache .postbox-container {
	float: right;
	width: 300px;
}

.wrap.gravatar-cache .postbox-container h3 {
	font-size: 15px;
	font-weight: normal;
	padding: 7px 10px;
	margin: 0;
	line-height: 1;
}

.disabled-input {
	background: #E0E0E0;
}


/*end*/

.entry-title {
	font-size: 20px;
}

.post-content h4 {
	font-family: 'Caviar Dreams', 'Microsoft YaHei';
	font-size: 15px!important;
	margin-top: 10px;
	padding: 4px 8px!important;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

a {
	color: #0099CC;
	text-decoration: none;
}

a:hover {
	color: #33B5E5;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

body {
	/*width: 1280px;*/
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
}

pre {
	padding: 2px 4px;
	background: #F8F8F8;
	font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
	font-size: .92857em;
}

pre {
	padding: 8px;
	overflow: auto;
	max-height: 400px;
}

pre code {
	padding: 0;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	white-space: nowrap;
	background-color: #f9f2f4;
	border-radius: 4px;
}

blockquote {
	margin: 2em 1.5em;
	padding-left: 1.5em;
	border-left: 4px solid #ddd;
	color: #777;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}

strong {
	font-weight: bold;
}

#main {
	background-color: #fff;
	/*width: 1280px;*/
	width: 80%;
	margin: 0 auto;
	border-top: 1px solid #eee;
	display: inline-block;
	overflow: hidden;
}

#main tr.odd td {
	background: #f2f7fc;
}

#main table {
	border: 1px solid #e7e7e7;
	text-align: left;
	width: 100%;
}

#main tr th,
#main thead th {
	color: #e7e7e7;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}

#main tr td {
	border: 1px solid #888888;
	/*word-break:break-all;*/
	word-wrap: break-word;
}

.alignnone {
	max-width: 100%;
	height: auto;
}

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%;
	height: auto;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}

.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.post-content {
	/*width: 900px;*/
}

#head {
	background: url(img/home-bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 280px;
	padding: 30px 0 0 !important;
}

.headtext {
	width: 295px;
	margin-top: 45px;
	margin-left: 15px;
	line-height: 36px;
	text-align: center;
}

.site-header {
	font-size: 30px;
	font-weight: normal;
}

.site-description {
	color: #888888;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.1em;
}

#access {
	margin-top: 45px;
	/*max-width: 1280px;*/
	width: 100%;
}

#access .menu,
div.menu {
	font-size: 1.2em;
	list-style: none;
	/*padding-left: 10px;*/
	padding-left: 10%;
}

#access .menu ul,
div.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#access .menu li,
div.menu li {
	float: left;
	position: relative;
}

#access a {
	color: #000;
	display: block;
	line-height: 45px;
	padding: 0 10px;
	text-decoration: none;
}

#access ul ul {
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	position: absolute;
	left: 0;
	float: left;
	z-index: 99999;
	background: #333;
}

#access ul ul li:hover {
	width: 100% !important;
}

#access ul ul ul {
	left: 100%;
	top: 0;
}

#access ul ul ul a:before {
	content: '\00BB';
	padding-right: 10px;
}

#access ul ul a {
	background: #fff;
	line-height: 1em;
	padding: 10px;
	height: auto;
	min-width: 130px;
	white-space: nowrap;
}

#access li:hover>a {
	background: #ccc;
	color: black;
}

#access ul ul:hover>a {
	background: white;
	color: black;
}

#access ul li:hover>ul {
	display: block;
}

#access ul li.current_page_item>a,
#access ul li.current-menu-ancestor>a,
#access ul li.current-menu-item>a,
#access ul li.current-menu-parent>a {
	background-color: #CCCCCC;
	color: #000000;
}

#access ul li.current_page_item>a:hover,
#access ul li.current-menu-ancestor>a:hover,
#access ul li.current-menu-item>a:hover,
#access ul li.current-menu-parent>a:hover {
	color: black;
}

* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: black;
}

#access ul li.page_item a:visited:hover {
	color: black;
}

.cleanfix {
	zoom: 1;
}

.menu {
	/*border-top: 1px solid #eee;*/
	height: 45px;
	background-color: #fff;
	margin-top: 98px;
}

.menu li {
	float: left;
	position: relative;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post,
.post-index {
	/*width: 920px;*/
	/*margin-left: 20px;*/
}

.post-index {
	/*border-bottom: 1px solid #eee;*/
}

.post-title,
h2.page,
h2.search {
	font-weight: normal;
	color: #000;
	font-size: 1.8em;
	line-height: 1.3em;
	margin-bottom: 0;
}

.post-title a {
	color: #000;
	text-decoration: none;
}

.post-title a:hover,
.entry-date a:hover,
.entry-meta a:hover,
#article-tag a:hover {
	color: #33B5E5;
}

.enety-date,
.entry-date a,
.entry-meta a,
#article-tag a {
	color: #888;
	font-size: 13px;
	text-decoration: none;
}

.entry-meta {
	line-height: 28px;
}

.post-content h1 {
	font-size: 20px;
}

.post-content h1,
.post-content h2,
.post-content h3,
h2.search,
h2.page {
	color: #000000;
	font-weight: normal;
	line-height: 1.5em;
	line-height: 24px;
}

.post-content h2,
h2.search {
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}

.post-content h1,
.post-content h2,
h2.search {
	letter-spacing: .1em;
}

.post-content h3 {
	letter-spacing: .1em;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}

.featureimg {
	width: 895px;
	margin: auto;
}

#page-links_new {
	padding: 0;
	text-align: center
}

.page-navigator {
	list-style: none;
	font-size: 16px;
	text-align: center;
}

.page-navigator li {
	display: inline-block;
	margin: 0 5px 5px 0;
}

.page-navigator a,
.page-navigator span,
#page-links_new a,
.page-numbers span,
.page-numbers {
	/*display:inline-block;*/
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	padding: 5px 10px;
	border: 1px solid #DDD;
}

.page-navigator a:hover,
#page-links_new a:hover {
	background: #F8F8F8;
	border-bottom-color: #D26911;
}

.page-navigator .current span {
	background: #F8F8F8;
	border-bottom-color: #D26911;
}

.article {
	/*width: 920px;
	float: left;*/
}

#article-tag {
	margin-bottom: 10px;
}

#secondary {
	border-left: 1px solid #eee;
	display: block;
	/*float: right;*/
	line-height: 20px;
	padding-left: 35px;
	padding-top: 25px;
	/*width: 285px;*/
	word-wrap: break-word;
	font-size: 13px;
}

#secondary li {
	list-style: none;
}

#secondary ul {
	padding: 0;
}

#secondary .children {
	padding-left: 20px !important;
}

#search {
	position: relative;
	margin-top: 15px;
	width: 240px;
}

#search input {
	padding: 15px 30px 15px 15px;
	line-height: 1;
	width: 240px;
}

#search button {
	position: absolute;
	right: -5px;
	top: 10px;
	border: none;
	padding: 0;
	background: transparent url(../img/icon-search.png) no-repeat center center;
	background-size: 100% 100%;
	width: 24px;
	height: 24px;
	text-indent: -9999em;
}

.widget-title {
	color: #A0A0A0;
	font-weight: bold;
	font-size: 14px;
}

#secondary .recentcomments img.avatar {
	width: 26px;
	height: 26px;
	float: left;
	position: relative;
	border: 1px solid #ddd;
	margin: 0 5px 0 0;
	padding: 2px;
}

#secondary ul.recentcomments {
	list-style: none;
	padding-left: 0;
}

#secondary ul.recentcomments li {
	margin: 5px 0 0;
	line-height: 16px;
	overflow: hidden;
}

#sidebar .comment_author {
	color: #999;
}

#footbar {
	/*width: 1280px;*/
	width: 100%;
	background-color: #fff;
	display: inline-block;
	border-top: 1px solid #eee;
}

.one {
	width: 1280px;
}

.post-one {
	/*width: 1240px;*/
	width: 100%;
}

.error {
	/*width: 1240px;*/
	width: 100%;
	background-color: #fff;
	margin-left: 20px;
}

#comments {
	width: 100%;
	border: medium none;
}

.commentlist,
.commentlist ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist {
	margin-top: 10px;
}

.commentlist li {
	padding: 15px 0 0;
	border-top: 1px solid #eee;
}

ol.commentlist ul.children,
ol.commentlist li.comment {
	list-style: none
}

.commentlist li.comment-level-even {
	background: #FFF;
}

.commentlist li .comment-reply {
	float: right;
	margin-top: -39px;
	font-size: .92857em;
}

.comment-meta {
	color: #999;
	font-size: .92857em;
}

.comment-author {
	display: block;
	margin-bottom: 3px;
	color: #444;
}

.comment-author,
.avatar {
	float: left;
	margin: 3px 10px 0 0;
	border: 2px solid #ddd;
	padding: 1px;
}

.fn {
	font-weight: bold;
	font-style: normal;
}

.comment-awaiting-moderation {
	font-style: normal;
	float: right;
	margin-top: -20px;
	color: #777;
}

.commentlist .respond {
	margin-top: 15px;
	border-top: 1px solid #ddd;
}

.comment-bodbody .respond {
	border: none;
	margin: 0 0 25px;
}

.respond .cancel-comment-reply {
	float: right;
	margin-top: 15px;
	font-size: .92857em;
}

#comment_form {
	padding-top: 5px;
}

#comment_form label {
	display: block;
	color: #888;
	position: absolute;
	margin: 8px;
}

#comment_form input {
	padding: 5px 6px;
	line-height: 16px;
	height: 32px;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px #D4D4D4;
	background: #fdfdfd;
	font: 14px;
	padding-left: 45px;
}

input.submit {
	border: 1px solid #ddd;
	display: block;
	line-height: 32px;
	outline: none;
	background: #e8e8e8;
	cursor: pointer;
}

input.submit:hover {
	background: #dfdfdf;
}

textarea.textarea {
	line-height: 1.8;
	padding: 5px 10px 5px 10px;
	width: 98%;
	max-width: 880px;
	height: 162px;
	padding: 10px;
	overflow: auto;
	line-height: 1.8;
	color: #222;
	font-size: 14px;
	margin-bottom: 5px;
}

#commentText p {
	width: 90%;
}

.commentsprofile {}

.commentinput {
	max-width: 880px;
}

#author_textarea {}

.month {
	width: 260px;
}

.al_year {
	font-family: 'Caviar Dreams', 'Microsoft YaHei';
	font-size: 15px!important;
	padding: 4px 8px!important;
	border-left-color: #0080ff;
	border-left-width: 4px;
	border-left-style: solid;
	border-bottom-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: normal!important;
	width: 865px;
}

#plan table {
	border-collapse: collapse;
	border-spacing: inherit;
}

#plan table th {
	color: #fff;
	font-weight: normal;
	background: #538dd5;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
}

#plan table td,
#plan table th {
	border: solid 1px #8db4e2;
	padding: 2px;
}

.page-links {
	overflow: hidden;
	margin: 25px 0 0 24px;
	padding: 0;
}

.page-links h3 {
	border-bottom: 1px solid #bfbebe;
	text-align: center;
	margin: 0;
}

.page-links ul {}

.page-links ul li {
	float: left;
	width: 185px;
	margin: 5px 5px 0;
	padding: 0;
	list-style-type: none;
}

.page-links ul li:hover {
	background: #f2f2f2;
}

.page-links ul li img {
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 5px;
	padding-top: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

.linkstandard {
	padding-top: 20px;
}

#hdojbt {
	color: #1A5CC8;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}

#hdojms {
	color: green;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#hdojbtx {
	color: #7CA9ED;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	height: 38px;
}

#hdojmsx {
	background: none repeat scroll 0 0 #E4F0F8;
	border: 1px solid #a2e5f3;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 15px;
	padding: 10px;
}

.post-content h4,
h4 {
	color: #438aac;
	background: #f1f7fd;
	border: 1px solid #d2e8fa;
	padding: 6px 10px;
	font-weight: normal;
	line-height: 26px;
}

.post-content h5,
h5 {
	font-size: 14px !important;
	padding: 4px 8px!important;
	border-left-color: red;
	border-left-width: 4px;
	border-left-style: solid;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: normal!important;
	width: 865px;
}

.post-content h6,
h6 {
	font-size: 14px !important;
	padding: 4px 8px!important;
	border-left-color: #0080ff;
	border-left-width: 4px;
	border-left-style: solid;
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: normal !important;
	width: 865px;
}

.kuang,
#kuang {
	background: #f1f5f9;
	border: 1px solid #c9d1d7;
	color: #000000;
	font-size: 12px;
	line-height: 160%;
	margin: 10px 0;
	padding: 5px 1em 5px 1em;
}

#xk {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
}

.shk {
	background-color: #FFFFFF;
	border: 1px dashed #00A0C6;
	font-size: 13px;
	margin-bottom: 5px;
	padding: 3px;
}

.xian {
	border-bottom: 1px solid #CCCCCC;
}

#welcome {
	position: absolute;
	width: 100%;
	top: 103%;
}

.down {
	background-position: 20px 50%;
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	top: 6px;
	left: 5px;
	bottom: 6px;
	height: auto !important;
	margin: 0;
	min-height: 40px;
	overflow: visible;
	padding: 15px 20px 15px 80px;
	position: relative;
	text-align: justify;
	width: 778px;
	background-color: #f9f9f9;
	background-image: url("/wp-content/themes/Dadclab_Theme/img/down.jpg");
}

.cancel-comment-reply {
	float: right;
	margin-top: 1px;
	font-size: .92857em;
}

.commentmetadata img {
	border: 0 none;
	height: auto;
	margin-bottom: 4px;
	vertical-align: middle;
	width: 16px;
}

.readers-list {
	line-height: 18px;
	text-align: left;
	overflow: hidden;
	_zoom: 1;
	list-style: none;
	margin-left: -45px;
}

.readers-list li {
	width: 225px;
	float: left;
	*margin-right: -1px
}

.readers-list a,
.readers-list a:hover strong {
	background-color: #f2f2f2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
	background-image: linear-gradient(#f8f8f8, #f2f2f2);
	text-decoration: none;
}

.readers-list a {
	position: relative;
	display: block;
	height: 36px;
	margin: 4px;
	padding: 4px 4px 4px 44px;
	color: #999;
	overflow: hidden;
	border: #ccc 1px solid;
	border-radius: 2px;
	-webkit-box-shadow: #eee 0 0 2px;
	box-shadow: #eee 0 0 2px;
	font-family: 'Caviar Dreams', 'Microsoft YaHei';
	font-size: 13px;
}

.readers-list img,
.readers-list em,
.readers-list strong {
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.readers-list img {
	width: 36px;
	height: 36px;
	float: left;
	margin: -3px 8px 0 -40px;
	border-radius: 2px
}

.readers-list em {
	background-color: transparent;
	color: #666;
	font-style: normal;
	margin-right: 10px;
	text-decoration: none;
}

.readers-list strong {
	color: #ddd;
	width: 40px;
	text-align: right;
	position: absolute;
	right: 6px;
	top: 4px;
	font: bold 14px/16px microsoft yahei;
	text-decoration: none;
}

.readers-list a:hover {
	border-color: #bbb;
	-webkit-box-shadow: #ccc 0 0 2px;
	box-shadow: #ccc 0 0 2px;
	background-color: #fff;
	background-image: none
}

.readers-list a:hover img {
	opacity: .6;
	margin-left: 0
}

.readers-list a:hover em {
	color: #EE8B17;
	font: bold 12px/36px microsoft yahei
}

.readers-list a:hover strong {
	color: #EE8B17;
	right: 175px;
	top: 0;
	text-align: center;
	border-right: #ccc 1px solid;
	height: 44px;
	line-height: 40px;
}

#respond {
	margin-bottom: 10px;
}


/**** 相关文章 ******/

.entry-mixed {
	background: none repeat scroll 0 0 #FBFCFD;
	border: 2px solid #99BEE0;
	border-radius: 4px;
	margin: 45px 0 20px;
	padding: 10px 10px 10px 12px;
	position: relative;
}

.entry-mixed li {
	list-style: none;
}

.entry-mixed ul {
	margin-bottom: 0;
}

.entry-mixed .entry-cpt-label {
	left: 12px;
	padding: 4px 18px;
	right: auto;
}

.entry-cpt-label {
	border-radius: 3px;
	height: 20px;
	line-height: 20px;
	padding: 2px 14px;
	right: 28px;
	top: -12px;
}

.entry-cpt-label,
.entry-free-label,
.entry-free-more {
	background: none repeat scroll 0 0 #0086E3;
	color: #FFFFFF;
	display: block;
	position: absolute;
}

.entry-mixed .entry-head {
	border: 0 none;
	margin: 12px 0 2px;
	padding: 0;
}


/*************/

#postNextPrev {
	display: inline-block;
	width: 100%;
}

.previous_post {
	float: left;
	width: 48%
}

.next_post {
	float: right;
	text-align: right;
	width: 48%
}

img {
	vertical-align: middle;
	border: none\9;
}

.post-content img {
	max-width: 100%;
	height: auto;
	border: none\9;
	width: auto\9;
	margin-top: 5px;
	margin-bottom: 5px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border-bottom: 2px solid #ddd;
	width: 860px;
}

.pull-left {
	float: left!important;
}

.list-group-item-text {
	padding-left: 60px;
	line-height: 25px;
	color: #000;
}

.list-group-item-strong {
	color: #33B5E5;
	font-size: 16px;
}

a.list-group-item:hover {
	background-color: #eee;
}

.gallery {
	overflow: hidden;
	margin-bottom: 4px;
}

.gallery-item {
	display: inline-block;
	margin-right: 3px;
	width: 32%;
	margin-left: 20px;
}

.gallery-icon {
	white-space: nowrap;
}

.gallery img {
	height: 250px;
	width: auto;
	border: 1px solid #CFCFCF;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	padding: 5px;
	margin: 5px;
}

h2.search {
	border-bottom: none !important;
}

.search {
	width: 920px;
}

.onecolumn {
	width: 1240px;
	max-width: 1240px;
}

h2.page {
	margin-bottom: 15px;
}

#hide {
	text-align: center;
	border: 1px dashed #99BEE0;
	padding: 8px;
	margin: 10px auto;
	color: #99BEE0;
}

#hide a {
	color: #FF6666;
}

#hide a:hover {
	color: ##33B5E5;
}

.post-content ul li,
.post-content ol li {
	margin-bottom: 7px;
	padding-bottom: 7px;
}

.entry-mixed ul li,
.entry-mixed ul li,
.page-links ul li,
.page-links ol li {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.imglist {
	color: #888;
	width: 898px;
	margin: 20px 0 0 0;
	overflow: hidden;
	overflow-x: scroll;
	background: #333;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 4px solid #0086e3;
}

.imglist tr td div {
	line-height: 20px;
	margin: 18px 0 15px 0;
}

.imglist tr img {
	border: 0;
	display: block;
	padding: 0 10px 10px 10px;
}

.imglist img {
	max-width: 900px;
}

.imglist tr td {
	border: none !important;
}

.imglist-title {
	background: #333;
	margin: 20px 0 -20px 0;
	padding: 18px 0 0 0;
	font-weight: bold;
	color: #eee;
	text-align: center;
	border: 1px solid #ccc;
	border-bottom: 0;
}

.imglist table {
	border: none!important;
}

#headerlogo1 {
	background-color: #FFF;
	color: #555;
	float: left;
	font-size: 22px;
	line-height: 50px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 500px;
	display: none;
	/*border-bottom:1px solid;*/
	z-index: 9999;
	opacity: 0.9;
	-webkit-box-shadow: 2px 1px 7px #777777;
	box-shadow: 2px 1px 7px #777777;
	left: 0px;
}

#headerlogo1 a {
	color: #000;
	text-decoration: none;
}

#headerlogo1 a:hover {
	color: #000;
	text-decoration: none;
}

.prototype2 p {
	margin: 0
}

#course {
	width: 98%;
}

#course-title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 23px;
}

#course-title a {
	color: black;
	border-bottom: 5px solid #0099CC;
	font-size: 16px;
	float: left;
}

a.course-title-right {
	float: right!important;
	border: none!important;
	font-size: 14px!important;
}

#course-list {
	padding-top: 10px;
	line-height: 25px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.post-jiche {
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

.post-loco {
	width: 260px;
	height: 500px;
	display: inline-block;
	margin: 0 10px 0 10px;
}

.img-loco {
	width: 250px;
	padding: 5px;
	background: #ccc;
}

.post-rail {
	width: 1150px;
	margin: 0 auto;
}